{{define "default/index.html"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orlando's Web</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
   
    {{template "header" .}}

    <section class="hero">
        <div class="hero-content">
            <h1>目标是星辰大海</h1>
            <p>该网站运行在gin架构上</p>
        </div>
    </section>
    <script src="/static/js/script.js"></script>
</body>
</html>

{{end}}