{{ define "header" }}
<header>
    <div class="logo">
        <a href="/" style="color: #fff;">Orlando's Web</a> <!-- 确保链接文字也是白色 -->
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="https://www.jlu.edu.cn" target="_blank">JLU官网</a></li>
            <li><a href="/forum">吐槽墙</a></li>
            <li><a href="#about">不知到</a></li>
            <li><a href="#services">还没写</a></li>
            <li><a href="/forum/login">登录</a></li>
        </ul>
    </nav>
</header>
{{ end }}