{{define "forum/index.html"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>论坛 - Orlando's Web</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    
    {{template "header" .}}

    <section class="forum">
        <h1>吐槽墙</h1>
        <div class="forum-posts">
            <div class="post">
                <h2><a href="/forum/post/1">主题一：请分享你的学习经验</a></h2>
                <p>内容：大家好，我想知道大家在学习过程中遇到的挑战和解决办法。欢迎分享你的经验！</p>
                <div class="post-footer">
                    <span>作者：用户1</span>
                    <span>时间：2024-10-22</span>
                </div>
            </div>
            <div class="post">
                <h2><a href="/forum/post/2">主题二：如何提高编程能力</a></h2>
                <p>内容：我想请教大家，除了上课和看书之外，还有哪些有效的方法可以提高编程能力？</p>
                <div class="post-footer">
                    <span>作者：用户2</span>
                    <span>时间：2024-10-21</span>
                </div>
            </div>
            <!-- 可以继续添加更多帖子 -->
        </div>
    </section>
    <div class="floating-button">
        <a href="/forum/new-post">发布新主题</a>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>

{{end}}